#return {
  display: none;
}

.jumbotron {
  text-align: center;
  background-color: silver;
}
input[type="radio"]{
  margin-left:10px;
}
input[type="checkbox"]{
  margin-left: 10px;
}
#lager {
  display: none;
}
#ipa{
  display: none;
}
#amber {
  display: none;
}
#red {
  display: none;
}
#stout {
  display: none;
}
#cider {
  display: none;
}
