#return {
  display: none;
}

.jumbotron {
    background-image: url("../images/beerj.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: right;;
    color: #FFF4E1;
}
input[type="radio"]{
  margin-left:10px;
}
input[type="checkbox"]{
  margin-left: 10px;
}
body {
  background-color: #5e7aa8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
};

.surveyChoices {
  color: black;
  font-weight: bolder;
  font-size: 15px;
}

h2{
  font-family: Impact, Charcoal, sans-serif


}

p {
  text-indent: 50px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bolder;

}

ul {
  font-size: 20px;
  font-weight: bolder;

}
